<!DOCTYPE html>
<html>
<head>
    <title>Untitled document</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
</head>

<body class="c8">
    <h1 class="c0 c7"><a id="h.e46wtocyooat" name=
    "h.e46wtocyooat"></a><span class="c6 c5">Challenge One</span></h1>

    <p class="c0"><span class="c5">The Sign up - Overview</span></p>

    <p class="c0"><span>Create a sign up page. This must be accessible and
    validate user data entered into all fields.</span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0"><span class="c5">Requirements</span></p>

    <p class="c0"><span>1. Fields</span></p>

    <ul class="c3 lst-kix_wievolyu43rx-0 start">
        <li class="c0 c2"><span class="c6 c5">Username</span><span>: must be an
        email address. It cannot be longer than 56 characters.
        Required.</span></li>

        <li class="c0 c2"><span class="c6 c5">Password &amp; Confirm
        Password</span><span>: Must be at least 6 characters. Passwords must
        match. Required.</span></li>

        <li class="c0 c2"><span class="c6 c5">First &amp; Last
        Name</span><span>: Letters only. May not be more than 50 characters.
        Last Name Optional</span></li>

        <li class="c0 c2"><span class="c6 c5">Birthday</span><span>: Must be
        visible to the user in MM/DD/YYYY (03/21/1982) format, but submit as
        ISO 8601. User must be at least 14 and not older than 150.
        Required.</span></li>
    </ul>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <h1 class="c0 c7"><a id="h.vmvvui5xecvh" name=
    "h.vmvvui5xecvh"></a><span class="c6 c5">Challenge Two</span></h1>

    <p class="c0"><span class="c5">The Buddy List - Overview</span></p>

    <p class="c0"><span>Create a list of buddies that can be sorted, filtered,
    searched and prioritized. Clicking on a buddy should show their expanded
    information.</span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0"><span class="c5">Requirements</span></p>

    <p class="c0"><span>1. The List</span></p>

    <ul class="c3 lst-kix_45sy73jkkrb5-0 start">
        <li class="c0 c2"><span>Pre-populate the list with mock
        data.</span></li>

        <li class="c0 c2"><span>Stub out the data as if it were an api
        response.</span></li>
    </ul>

    <p class="c0"><span>2. Buddies</span></p>

    <ul class="c3 lst-kix_1lek78ln1bbw-0 start">
        <li class="c0 c2"><span>Each buddy in the list view should display
        their username, first name, last name and status</span></li>

        <li class="c0 c2"><span>The expanded information should display their
        email address, birthday and bio</span></li>

        <li class="c0 c2"><span>Buddies should be able to be added, prioritized
        and deleted.</span></li>

        <li class="c0 c2"><span>Deleting should prompt a confirmation
        dialog.</span></li>
    </ul>

    <p class="c0"><span>3. Buddy Status</span></p>

    <ul class="c3 lst-kix_i2cxoc6swrxe-0 start">
        <li class="c0 c2"><span>Buddies can be Available, Busy, Idle or
        Offline.</span></li>

        <li class="c0 c2"><span>If the buddy is offline, the expanded
        information should also show the last sign in date.</span></li>
    </ul>

    <p class="c0"><span>4. Add Buddy</span></p>

    <ul class="c3 lst-kix_fb026w7i0160-0 start">
        <li class="c0 c2"><span>Clicking this button should open a dialog with
        a form to add a new buddy.</span></li>

        <li class="c0 c2"><span>Form should contain all required
        fields.</span></li>

        <li class="c0 c2"><span>On submit, the buddy should be added to the
        list.</span></li>
    </ul>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0 c1"><span></span></p>

    <h1 class="c0 c7"><a id="h.qqh1cdpbau2z" name=
    "h.qqh1cdpbau2z"></a><span class="c6 c5">Challenge Three</span></h1>

    <p class="c0"><span class="c5">The Wizard - Overview</span></p>

    <p class="c0"><span>Create a step-by-step enrollment wizard. As the user
    completes steps, they become active and traversable. Depending on the
    decisions made in each step, the user will end up as one of three account
    types: Premium, Plus, Standard or Light and this should be reflected in the
    summary.</span></p>

    <p class="c0 c1"><span></span></p>

    <p class="c0"><span>Requirements</span></p>

    <p class="c0"><span>1. The Data</span></p>

    <ul class="c3 lst-kix_8nkvfarlkb46-0 start">
        <li class="c0 c2"><span>Assume the user is already authenticated and
        you have account data available via an API or bootstrapped.</span></li>

        <li class="c0 c2"><span>Pre-populate with at least username, first
        name, last name email and account type.</span></li>
    </ul>

    <p class="c0"><span>2. The Steps</span></p>

    <ul class="c3 lst-kix_7zob72ubzw4j-0 start">
        <li class="c0 c2"><span class="c5 c6">Step One: Light</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-1 start">
        <li class="c0 c4"><span>The user must confirm their username, first
        name last name and email pre-populated from the bootstrapped data. If
        they go to the Conclusion from here, they&rsquo;re a Light
        account.</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-0">
        <li class="c0 c2"><span class="c6 c5">Step Two: Standard</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-1 start">
        <li class="c0 c4"><span>The User must opt into becoming a Plus account
        type. Once the user opts in, they become a standard account and step 3
        becomes available. If they previously opted in, then opt out, the user
        goes back to a Light account.</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-0">
        <li class="c0 c2"><span class="c6 c5">Step Three: Plus</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-1 start">
        <li class="c0 c4"><span>Provide a list of interests to choose from. If
        three or fewer items are selected, the user remains a Standard account
        type. If four or more are selected, then the user becomes a Plus
        account and step four becomes enabled.</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-0">
        <li class="c0 c2"><span class="c6 c5">Step Four: Premium</span></li>
    </ul>

    <ul class="c3 lst-kix_7zob72ubzw4j-1 start">
        <li class="c0 c4"><span>This should contain an opt-in for premium
        features. If they user does not opt in, they remain a Plus
        user.</span></li>
    </ul>

    <p class="c0"><span>3. The Summary</span></p>

    <ul class="c3 lst-kix_me90s1fdi2wa-0 start">
        <li class="c0 c2"><span>The user is shown their account type along with
        a summary of the entered information from the previous
        steps.</span></li>

        <li class="c0 c2"><span>The summary should be either always visible or
        visibility toggled into view at the same time as the steps.</span></li>
    </ul>

    <p class="c0 c1"><span></span></p>
</body>
</html>