<h4>Step One: Light</h4>
<form class="form-horizontal">

    <div id="login-form"
         class="form-group">

        <label class="col-lg-2 control-label" 
               for="username">*User</label>

        <div class="col-lg-10">
            <input class="form-control" 
                   id="username" 
                   name="username" 
                   type="text"> 
<!-- SAFARI ISSUES WITH HTML5 INPUT VALIDATORS
                   maxlength="56"
                   title="Username cannot be longer than 56 characters."
                   required -->
                   <span class="help-block hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label" 
               for="age">*First</label>

        <div class="col-lg-10">
             <input class="form-control" 
                    id="first" 
                    name="first" 
                    type="test"
                    maxlength="50">
<!-- SAFARI ISSUES WITH HTML5 INPUT VALIDATORS
                    pattern="[A-Za-z]*" 
                    title="Letters only. May not be more than 50 characters."
                    required -->
                    <span class="help-block hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label" 
               for="age">*Last</label>

        <div class="col-lg-10">
             <input class="form-control" 
                    id="last" 
                    name="last" 
                    type="test"
                    maxlength="50">
<!-- SAFARI ISSUES WITH HTML5 INPUT VALIDATORS
                    pattern="[A-Za-z]*" -->
                    <span class="help-block hidden"></span>
        </div>
    </div>

    <div id="login-form"
         class="form-group">

        <label class="col-lg-2 control-label" 
               for="username">*Email</label>

        <div class="col-lg-10">
            <input class="form-control" 
                   id="email" 
                   name="email" 
                   type="email"
                   maxlength="56"> 
<!-- SAFARI ISSUES WITH HTML5 INPUT VALIDATORS
                   title="Username must be an email address. It cannot be longer than 56 characters."
                   required -->
                   <span class="help-block hidden"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-success" 
                    id="confirmButton" 
                    type="button">Confirm</button>
        </div>
    </div>
</form>
<p class="validateTips">All form fields are required.</p>
<div id="statusmessage"></div>